@charset "UTF-8";

//Example
//$var: "value" !default;

//Desktop width
$desktop-width: 1120px !default;

//Fonts
$default-font: Droid Serif, serif !default;
$raleway: Raleway, sans-serif !default;

//Colors
$default-blue: #2800aa !default;
$light-blue: #d2e6ff !default;
