{% if page.slug == 'home' %}
    <div class="grid home-nav">
        <div>
            <div><a href="#presentation">Présentation</a></div>
            <div><a href="#medico">Médico-social</a></div>
            <div><a href="#ateliers">Ateliers</a></div>
            <div><a href="#actionco">Actions commerciales</a></div>
        </div>
        <div>
            <div><a href="#saesat">SAESAT</a></div>
            <div><a href="#autrement">Autrement</a></div>
            <div><a href="#partenaires">Partenaires</a></div>
            <div><a href="#contact">Contact - Infos</a></div>
        </div>
    </div>
{% else %}
    <div class="grid page-nav">
        <div>
            <div><a href="/">Présentation</a></div>
            <div><a href="/home/">Médico-social</a></div>
            <div><a href="/home/">Ateliers</a></div>
            <div><a href="/home/">Actions commerciales</a></div>
        </div>
        <div>
            <div><a href="/home/#saesat">SAESAT</a></div>
            <div><a href="/home/#autrement">Autrement</a></div>
            <div><a href="/home/#partenaires">Partenaires</a></div>
            <div><a href="/home/#contact">Contact - Infos</a></div>
        </div>
    </div>
{% endif %}
