@charset "UTF-8";
/*
Comment everything not useful for the current project
*/
/* --- Base --- */
/* --- * --- */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i");
* {
  box-sizing: border-box;
  outline-color: #d2e6ff; }

/* --- Body --- */
body {
  margin: 0;
  color: #2800aa;
  background-color: #fff; }

main {
  margin-top: 17.7rem; }

img {
  max-width: 100%; }

.bold {
  font-weight: 800; }

.center {
  text-align: center; }

.blue {
  color: #fff;
  background-color: #2800aa; }

.light-blue {
  background-color: #d2e6ff; }

/*Font-face declaration example*/
html {
  font-size: 62.5%;
  /* 10px */
  font-size: calc(1em * 0.625);
  /* fix */ }

body {
  font-family: Droid Serif, serif, Arial, sans-serif;
  font-size: 1.7rem;
  line-height: 1.4; }

/* --- Layout --- */
.wrapper {
  margin: 0 auto;
  padding: 0 4rem;
  width: 1120px; }

@media (max-width: 1120px) {
  .wrapper {
    padding: 0 2rem;
    width: 100%; } }
/* ---------------------------------- */
/* ==Grillade : Simple Grid System    */
/* ---------------------------------- */
/* Doc : http://grillade.knacss.com */
@media (min-width: 576px) {
  [class*=" grid-"],
  [class^="grid-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    [class*=" grid-"] > *,
    [class^="grid-"] > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; } }
@media (min-width: 576px) {
  .grid,
  .grid--reverse {
    display: flex; }
    .grid > *,
    .grid--reverse > * {
      flex: 1 1 0%;
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; }
    .grid.has-gutter > * + *,
    .grid--reverse.has-gutter > * + * {
      margin-left: calc(5px - 0.01px); }
    .grid.has-gutter-l > * + *,
    .grid--reverse.has-gutter-l > * + * {
      margin-left: calc(2rem - 0.01px); }
    .grid.has-gutter-xl > * + *,
    .grid--reverse.has-gutter-xl > * + * {
      margin-left: calc(4rem - 0.01px); } }
@media (min-width: 576px) {
  [class*="grid-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="grid-2"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-2"].has-gutter > * {
      width: calc(100% / 2 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-2"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-2"].has-gutter-l > * {
      width: calc(100% / 2 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-2"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-2"].has-gutter-xl > * {
      width: calc(100% / 2 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="grid-3"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-3"].has-gutter > * {
      width: calc(100% / 3 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-3"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-3"].has-gutter-l > * {
      width: calc(100% / 3 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-3"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-3"].has-gutter-xl > * {
      width: calc(100% / 3 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="grid-4"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-4"].has-gutter > * {
      width: calc(100% / 4 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-4"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-4"].has-gutter-l > * {
      width: calc(100% / 4 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-4"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-4"].has-gutter-xl > * {
      width: calc(100% / 4 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="grid-5"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-5"].has-gutter > * {
      width: calc(100% / 5 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-5"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-5"].has-gutter-l > * {
      width: calc(100% / 5 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-5"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-5"].has-gutter-xl > * {
      width: calc(100% / 5 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="grid-6"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-6"].has-gutter > * {
      width: calc(100% / 6 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-6"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-6"].has-gutter-l > * {
      width: calc(100% / 6 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-6"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-6"].has-gutter-xl > * {
      width: calc(100% / 6 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="grid-7"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-7"].has-gutter > * {
      width: calc(100% / 7 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-7"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-7"].has-gutter-l > * {
      width: calc(100% / 7 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-7"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-7"].has-gutter-xl > * {
      width: calc(100% / 7 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="grid-8"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-8"].has-gutter > * {
      width: calc(100% / 8 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-8"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-8"].has-gutter-l > * {
      width: calc(100% / 8 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-8"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-8"].has-gutter-xl > * {
      width: calc(100% / 8 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="grid-9"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-9"].has-gutter > * {
      width: calc(100% / 9 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-9"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-9"].has-gutter-l > * {
      width: calc(100% / 9 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-9"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-9"].has-gutter-xl > * {
      width: calc(100% / 9 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="grid-10"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-10"].has-gutter > * {
      width: calc(100% / 10 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-10"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-10"].has-gutter-l > * {
      width: calc(100% / 10 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-10"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-10"].has-gutter-xl > * {
      width: calc(100% / 10 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-11"] > * {
    width: calc(100% / 11 - 0.01px); }
  [class*="grid-11"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-11"].has-gutter > * {
      width: calc(100% / 11 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-11"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-11"].has-gutter-l > * {
      width: calc(100% / 11 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-11"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-11"].has-gutter-xl > * {
      width: calc(100% / 11 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-12"] > * {
    width: calc(100% / 12 - 0.01px); }
  [class*="grid-12"].has-gutter {
    margin-right: -2.5px;
    margin-left: -2.5px; }
    [class*="grid-12"].has-gutter > * {
      width: calc(100% / 12 - 5px - 0.01px);
      margin-right: 2.5px;
      margin-left: 2.5px; }
  [class*="grid-12"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-12"].has-gutter-l > * {
      width: calc(100% / 12 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-12"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-12"].has-gutter-xl > * {
      width: calc(100% / 12 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; } }
.push {
  margin-left: auto !important; }

.pull {
  margin-right: auto !important; }

.item-first {
  order: -1; }

.item-last {
  order: 1; }

[class*="grid-"][class*="--reverse"] {
  flex-direction: row-reverse; }

@media (min-width: 576px) {
  .full {
    flex: 0 0 auto;
    width: calc(100% / 1 - 0.01px); }

  .has-gutter > .full {
    width: calc(100% / 1 - 5px - 0.01px); }

  .has-gutter-l > .full {
    width: calc(100% / 1 - 2rem - 0.01px); }

  .has-gutter-xl > .full {
    width: calc(100% / 1 - 4rem - 0.01px); }

  .one-half {
    flex: 0 0 auto;
    width: calc(100% / 2 - 0.01px); }

  .has-gutter > .one-half {
    width: calc(100% / 2 - 5px - 0.01px); }

  .has-gutter-l > .one-half {
    width: calc(100% / 2 - 2rem - 0.01px); }

  .has-gutter-xl > .one-half {
    width: calc(100% / 2 - 4rem - 0.01px); }

  .one-third {
    flex: 0 0 auto;
    width: calc(100% / 3 - 0.01px); }

  .has-gutter > .one-third {
    width: calc(100% / 3 - 5px - 0.01px); }

  .has-gutter-l > .one-third {
    width: calc(100% / 3 - 2rem - 0.01px); }

  .has-gutter-xl > .one-third {
    width: calc(100% / 3 - 4rem - 0.01px); }

  .one-quarter {
    flex: 0 0 auto;
    width: calc(100% / 4 - 0.01px); }

  .has-gutter > .one-quarter {
    width: calc(100% / 4 - 5px - 0.01px); }

  .has-gutter-l > .one-quarter {
    width: calc(100% / 4 - 2rem - 0.01px); }

  .has-gutter-xl > .one-quarter {
    width: calc(100% / 4 - 4rem - 0.01px); }

  .one-fifth {
    flex: 0 0 auto;
    width: calc(100% / 5 - 0.01px); }

  .has-gutter > .one-fifth {
    width: calc(100% / 5 - 5px - 0.01px); }

  .has-gutter-l > .one-fifth {
    width: calc(100% / 5 - 2rem - 0.01px); }

  .has-gutter-xl > .one-fifth {
    width: calc(100% / 5 - 4rem - 0.01px); }

  .one-sixth {
    flex: 0 0 auto;
    width: calc(100% / 6 - 0.01px); }

  .has-gutter > .one-sixth {
    width: calc(100% / 6 - 5px - 0.01px); }

  .has-gutter-l > .one-sixth {
    width: calc(100% / 6 - 2rem - 0.01px); }

  .has-gutter-xl > .one-sixth {
    width: calc(100% / 6 - 4rem - 0.01px); }

  .two-thirds {
    flex: 0 0 auto;
    width: calc(100% / 3 * 2 - 0.01px); }

  .has-gutter > .two-thirds {
    width: calc(100% / 3 * 2 - 5px - 0.01px); }

  .has-gutter-l > .two-thirds {
    width: calc(100% / 3 * 2 - 2rem - 0.01px); }

  .has-gutter-xl > .two-thirds {
    width: calc(100% / 3 * 2 - 4rem - 0.01px); }

  .three-quarters {
    flex: 0 0 auto;
    width: calc(100% / 4 * 3 - 0.01px); }

  .has-gutter > .three-quarters {
    width: calc(100% / 4 * 3 - 5px - 0.01px); }

  .has-gutter-l > .three-quarters {
    width: calc(100% / 4 * 3 - 2rem - 0.01px); }

  .has-gutter-xl > .three-quarters {
    width: calc(100% / 4 * 3 - 4rem - 0.01px); }

  .five-sixths {
    flex: 0 0 auto;
    width: calc(100% / 6 * 5 - 0.01px); }

  .has-gutter > .five-sixths {
    width: calc(100% / 6 * 5 - 5px - 0.01px); }

  .has-gutter-l > .five-sixths {
    width: calc(100% / 6 * 5 - 2rem - 0.01px); }

  .has-gutter-xl > .five-sixths {
    width: calc(100% / 6 * 5 - 4rem - 0.01px); } }
/* Responsive Small Breakpoint */
@media (min-width: 576px) and (max-width: 767px) {
  [class*="-small-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-small-1"].has-gutter > * {
    width: calc(100% / 1 - 5px - 0.01px); }
  [class*="-small-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-small-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }

  [class*="-small-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-small-2"].has-gutter > * {
    width: calc(100% / 2 - 5px - 0.01px); }
  [class*="-small-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-small-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }

  [class*="-small-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-small-3"].has-gutter > * {
    width: calc(100% / 3 - 5px - 0.01px); }
  [class*="-small-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-small-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }

  [class*="-small-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-small-4"].has-gutter > * {
    width: calc(100% / 4 - 5px - 0.01px); }
  [class*="-small-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-small-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); } }
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  background-color: #fff; }
  header > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem; }
    header > div:after {
      content: '';
      margin-top: 2rem;
      display: block;
      width: 100%;
      height: 2px;
      background: url(../images/dot.svg) 0 0 repeat-x;
      background-size: auto 2px; }
  header .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 1; }
    header .logo-wrapper .logo {
      transition: all 0.2s ease-in-out; }
    header .logo-wrapper:hover {
      opacity: .65; }
    header .logo-wrapper .logo + .logo {
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-size: 1.8rem;
      font-weight: 600;
      border-top: 0; }

footer {
  padding: 4rem 0 4.2rem;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: #2800aa; }
  footer .wrapper {
    padding-right: 4rem;
    padding-left: 4rem; }
  footer .grid {
    align-items: center; }
  footer [class*="-small-2"] > div:first-child {
    text-align: left; }
  footer .logo {
    padding: 1.2rem 3.5rem;
    font-size: 2rem;
    color: #fff;
    border-color: #fff;
    border-width: 4px; }
  footer span {
    display: block; }
  footer address {
    font-style: normal; }
  footer a {
    color: #fff; }
  @media (max-width: 960px) {
    footer [class*="-small-2"] > div:first-child {
      width: 100%;
      margin-bottom: 2rem;
      text-align: center; }
    footer [class*="-small-2"] > div:nth-last-child(-n+2) {
      width: 50%; } }
  @media (max-width: 575px) {
    footer div:not(:last-child) {
      margin-bottom: 2rem; }
    footer [class*="-small-2"] > div:nth-last-child(-n+2) {
      width: 100%;
      text-align: center; } }

.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 7rem;
  height: 7rem;
  background-color: #2800aa;
  opacity: 1; }
  .scroll-to-top img {
    width: 3.6rem;
    height: auto; }

/* --- Components --- */
/* --- Nav --- */
nav {
  min-width: 44rem;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  text-align: right; }
  nav > div {
    min-width: 2.5rem; }
  nav a {
    display: inline-block;
    font-size: 2.1rem;
    line-height: 1.1;
    opacity: 1; }
    nav a:hover {
      opacity: .65; }
  nav .mobile-menu {
    display: none; }
  @media screen and (max-width: 960px) {
    nav {
      min-width: 0; }
      nav > div {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 3rem;
        text-align: center;
        background-color: #d2e6ff;
        transform: translate3d(0, 0, 0);
        /* material acceleration */
        transform: translateX(-120%);
        will-change: transform;
        transition: transform .5s; }
        nav > div a {
          margin-bottom: 2rem; }
      nav .grid {
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        nav .grid > div {
          width: 100%;
          flex: initial; }
      nav.is-open > div {
        transform: translateX(0); }
      nav.is-open .mobile-menu {
        z-index: 4; }
        nav.is-open .mobile-menu::before, nav.is-open .mobile-menu::after {
          background-color: #2800aa; }
        nav.is-open .mobile-menu::before {
          transform: rotate(45deg) translateY(-50%); }
        nav.is-open .mobile-menu::after {
          bottom: 15px;
          transform: rotate(-45deg) translateY(50%); }
        nav.is-open .mobile-menu .bar {
          transform: scale(0.1); }
      nav .mobile-menu {
        position: relative;
        display: inline-block;
        width: 5.6rem;
        height: 5.6rem;
        margin: 0;
        padding: 0;
        cursor: pointer; }
        nav .mobile-menu::before,
        nav .mobile-menu .bar, nav .mobile-menu::after {
          content: '';
          position: absolute;
          left: 0;
          display: block;
          width: 100%;
          height: 6px;
          background: #2800aa;
          transition: all .5s; }
        nav .mobile-menu .bar {
          top: 45%; }
        nav .mobile-menu::before {
          top: 0;
          transform-origin: top left; }
        nav .mobile-menu::after {
          bottom: 0;
          transform-origin: bottom left; } }

h1,
h2,
h3,
h4 {
  margin: 0; }

h1,
.logo {
  display: inline-block;
  padding: .5rem 2rem;
  font-family: Raleway, sans-serif;
  font-size: 2.6rem;
  font-weight: 800;
  color: #2800aa;
  text-transform: uppercase;
  border: 5px solid #2800aa; }

h2 {
  display: inline-block;
  min-width: 31rem;
  margin-bottom: 3.5rem;
  padding: 0 3.1rem;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  line-height: 5.1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid #2800aa; }
  h2.news-title {
    border: none; }
  h2 + p {
    margin-top: 0; }
  @media (max-width: 31rem) {
    h2 {
      min-width: 0; } }

ol,
ul {
  margin: 3rem 0;
  padding-left: 0; }

ul {
  list-style-type: none;
  text-align: center; }
  ul ul {
    margin-left: 20px; }

li:before, li:last-child:after {
  content: '';
  display: block;
  max-width: 100%;
  height: 2px;
  margin: 1.5rem 0;
  background: url(../images/dot.svg) 0 0 repeat-x;
  background-size: auto 2px; }

/* Forms */
input,
textarea,
select,
button {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
  color: #2800aa;
  vertical-align: middle; }

/* Labels */
label {
  display: block; }

/* Inputs */
input[type="text"],
input[type="email"],
textarea,
select {
  padding: 10px;
  width: 100%;
  border: 5px solid #2800aa; }

[type="radio"] + label,
[type="checkbox"] + label {
  display: inline-block; }

/* Textarea */
textarea {
  resize: vertical; }

input[type="submit"],
button {
  cursor: pointer; }

form .grid input + input {
  border-left: none; }
form input[name="_subject"],
form textarea {
  border-top: none; }

::placeholder {
  color: #2800aa; }

::-moz-placeholder {
  opacity: 1; }

button {
  cursor: pointer; }

.read-more,
input[type="submit"],
button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.1rem;
  height: 6.1rem;
  margin: 3rem auto 0;
  font-family: Raleway, sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  color: #2800aa;
  text-decoration: none;
  background: none;
  border: 5px solid #2800aa;
  border-radius: 50%;
  opacity: 1;
  -webkit-backface-visibility: hidden; }
  .read-more:hover,
  input[type="submit"]:hover,
  button[type="submit"]:hover {
    opacity: .65; }

button[type="submit"] {
  font-size: 1.4rem; }

a {
  color: #2800aa;
  text-decoration: none;
  opacity: .65;
  transition: opacity 0.1s ease-in-out; }
  a:hover {
    opacity: 1; }

/* --- Pages --- */
.home article {
  padding: 4rem 0 3.5rem;
  text-align: center; }
  .home article .wrapper {
    max-width: 73.4rem; }
  .home article p {
    margin: 0; }
    .home article p:last-child {
      margin-bottom: 0; }
  .home article.blue .read-more {
    color: #fff;
    border-color: #fff;
    opacity: 1; }
    .home article.blue .read-more:hover {
      opacity: .65; }
  .home article.blue h2 {
    border-color: #fff; }
  .home article.blue a {
    color: white;
    opacity: .65; }
    .home article.blue a:hover {
      opacity: 1; }
  .home article article {
    padding-top: 0;
    padding-bottom: 3rem; }
    .home article article:nth-child(-n+3) {
      padding-top: 3rem; }
    .home article article:nth-last-child(-n+3) {
      padding-bottom: 0; }
.home .atelier .wrapper {
  max-width: 1120px; }

.slick-slide a {
  opacity: 1; }
.slick-slide img {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.slick-dots li:before, .slick-dots li:after {
  display: none; }

.intro {
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 2.5rem; }
  .intro div:nth-child(2) {
    text-align: center; }
    .intro div:nth-child(2) span {
      display: inline-block;
      max-width: 34rem; }
  .intro div:last-child {
    text-align: right; }
  .intro img {
    max-width: 7rem;
    height: auto; }
    .intro img + a {
      margin-left: 4rem;
      opacity: 1; }

@media screen and (max-width: 1120px) {
  .slick-slider.wrapper {
    padding: 0; } }
@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column; }
    .intro div {
      min-width: 100%;
      text-align: center; }
      .intro div:last-child {
        text-align: center; }
      .intro div:not(:last-child) {
        margin-bottom: 1rem; } }
.agenda-content div {
  position: relative; }
  .agenda-content div:not(:last-child) {
    margin-bottom: 3rem;
    padding-bottom: 3rem; }
    .agenda-content div:not(:last-child):after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      max-width: 31rem;
      height: 2px;
      margin: auto;
      background: url(../images/dot-white.svg) 0 0 repeat-x;
      background-size: auto 2px; }
.agenda-content h2 {
  margin-bottom: 2rem;
  line-height: 1; }
.agenda-content a {
  display: table;
  margin: 0 auto; }
  .agenda-content a:first-child {
    margin-top: 2.5rem; }

.atelier h2:not(:first-child) {
  min-width: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1;
  border: none; }
.atelier p {
  margin: 0;
  padding: 0 1.5rem; }
  .atelier p:empty {
    display: none; }
.atelier a {
  display: block;
  color: #2800aa;
  opacity: 1; }
  .atelier a:hover .atelier-img:after {
    opacity: 1; }

.atelier-img {
  position: relative; }
  .atelier-img:after {
    content: 'Plus';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 5rem;
    height: 5rem;
    font-family: Raleway, sans-serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 800;
    line-height: 5rem;
    text-align: center;
    background-color: #2800aa;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: 0.2s;
    opacity: 0; }

.atelier-slider {
  margin-bottom: 4rem; }

.contact {
  border-top: 1px dotted #2800aa; }

.infos .wrapper {
  max-width: 1120px !important; }
.infos span {
  display: block; }

.atelier-item {
  padding-bottom: 4rem;
  text-align: center; }
  .atelier-item .wrapper {
    width: 73.4rem; }
  .atelier-item img {
    width: 100%;
    margin-top: -2px;
    margin-bottom: 4rem; }
  .atelier-item h2 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    width: 43.5rem;
    line-height: 3.4rem;
    margin-bottom: 0;
    border-bottom: none; }
  .atelier-item ul {
    margin-top: 3rem; }
  .atelier-item table {
    width: 43.5rem;
    margin: 0 auto 3.5rem;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    border-collapse: collapse; }
  .atelier-item thead {
    display: none; }
  .atelier-item tr:first-child td:nth-child(2) {
    font-weight: 700; }
  .atelier-item td {
    width: 50%;
    padding: 5px 10px;
    line-height: 4rem;
    border: 5px solid #2800aa; }
  @media screen and (max-width: 73.4rem) {
    .atelier-item .wrapper {
      width: 100%; } }
  @media screen and (max-width: 445px) {
    .atelier-item h2,
    .atelier-item table {
      width: 100%;
      padding: 0; }
    .atelier-item tr:first-child td:first-child {
      border-bottom: none; }
    .atelier-item tr:first-child td:nth-child(2) {
      border-bottom: none; }
    .atelier-item td {
      display: flex;
      width: 100%;
      justify-content: center; }
      .atelier-item td:nth-child(2) {
        border-top: none; } }

.details {
  margin-top: 4rem; }
  .details .wrapper {
    max-width: 73.4rem; }
  .details .light-blue {
    padding: 4rem 0; }

.details-content {
  padding-bottom: 3rem; }

.autrement article:not(:last-child) {
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: 2.5rem; }
  .autrement article:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    display: block;
    width: 100%;
    height: 2px;
    background: url(../images/dot.svg) 0 0 repeat-x; }
.autrement article h2 {
  padding: 0;
  font-size: 3rem;
  line-height: 3.6rem;
  border: none; }
.autrement article h3 {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700; }
.autrement article p {
  margin-right: auto;
  margin-left: auto;
  max-width: 73.4rem; }

.audio-wrapper {
  margin-bottom: 3rem;
  text-align: left; }

.audio-legend {
  margin: 0 0 1rem;
  font-family: Raleway, sans-serif;
  font-size: 1.8rem; }

/* --- Vendors --- */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.6; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  display: flex !important;
  position: absolute;
  right: 0;
  bottom: -1rem;
  left: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 100%; }
  .slick-dots li {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    height: 5px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li:before {
      display: none; }
    .slick-dots li:first-child {
      margin-left: 0; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li button {
      text-indent: -9999px;
      border: 0;
      background: transparent;
      display: block;
      height: 5px;
      width: 100%;
      outline: none;
      background-color: #2800aa;
      cursor: pointer;
      opacity: 0.6; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
    .slick-dots li.slick-active button {
      opacity: 1; }

.slick-slide p {
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
