@charset "UTF-8";

.details {
    margin-top: 4rem;

    .wrapper {
        max-width: 73.4rem;
    }

    .light-blue {
        padding: 4rem 0;
    }
}

.details-content {
    padding-bottom: 3rem;
}
